@import "../bourbon/bourbon";

$color: #FF6347; //Theme skin
$text_color: #888;
$main_color: #222;
$bg_light: #FAFAFA;

@mixin kerning($kerning) {
  letter-spacing: $kerning + px;
}

body {
  color: $main_color;
  @include kerning(1);
}

a {
  color: $color;
}

p,
body .main_footer,
.s_about li {
  color: $text_color;
}

.color_element {
  color: $color;
}

.color_bg {
  background-color: $color;
}

.color_border {
  border-color: $color;
}

.bg_light {
  background-color: $bg_light;
}

.bg_dark {
  background-color: $main_color*2;
  color: #ffffff;
  .s_descr::after {
    background-color: #ffffff;
  }
  a {
    color: #ffffff;
  }
}

svg path {
  fill: #fff;
}

.toggle_mnu {
  background-color: $main_color;
}

.top_mnu {
  a {
    @include kerning(4);
    &:hover {
      color: $color;
    }
  }
}

.top_text {
  p {
    color: $bg_light;
    @include kerning(5);
  }
}

.personal_header {
  @include kerning(2);
}

.s_descr {
  @include kerning(5);
  &::after {
    background-color: $main_color;
  }
}

section {
  h3 {
    @include kerning(3);
    color: $text_color;
  }
}

.s_about {
  p:nth-child(even) {
    color: $color;
  }
}

.resume_container {
  h3 {
    color: $main_color;
    @include kerning(1);
    font-size: 16px;
    font-weight: 600;
  }
  .left {
    .resume_description {
      strong {
        margin-left: 10px;
      }
    }
  }
  .right {
    .resume_description {
      strong {
        margin-right: 10px;
      }
    }
  }
}

.resume_item {
  .year {
    background-color: $color;
    h3 {
      @include kerning(1);
    }
  }
}

.s_portfolio {
  li {
    @include kerning(2);
    color: $text_color;
    &.active {
      color: #ffffff;
      border-bottom: 1px solid $color;
    }
  }
}

.portfolio_item .port_item_cont {
  a {
    border-color: $color;
    color: $color;
  }
}

.contacts_icon {
  color: $color;
}

.text-danger {
  color: $color;
}

form {
  input, textarea {
    @include kerning(2);
    &:focus {
      border: 1px solid $color;
    }
  }
  button {
    background-color: $color;
    @include kerning(2);
  }
  .form-group {
    @include kerning(2);
    color: $text_color;
  }
}